/*
 * ロゴ
 */
.navbar-brand {
	background: url("https://www.rabbitmq.com/img/rabbitmq_logo_strap.png")
		no-repeat left center;
	background-size: contain;
	height: 33px;
	width: 175px;
}

/*
 * ダイアログでのコンテンツ改行不具合回避
 */
.form-control-static {
  word-wrap:break-word;
}
